<h2>Booking</h2>
{{#each bookings}}
<div>
    <p>Venue: {{this.venue}}</p>
    <p>Date: {{this.date}}</p>
    <p>Status: {{this.status}}</p>
    {{#if this.band}}
    <p>Band: {{this.band.name}}</p>
    {{/if}}
</div>
{{/each}}