<h2>Lịch trình</h2>
<ul>
    {{#each schedules}}
    <li>
        {{this.venue}} - {{this.date}} - {{this.time}}
        {{#if this.band}}
        (với {{this.band.name}})
        {{/if}}
    </li>
    {{/each}}
</ul>