<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lỗi</title>
    <style>
        body {
            font-family: sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f8f9fa;
            /* Màu nền */
        }

        .container {
            text-align: center;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;
            /* Màu nền trắng */
        }

        h1 {
            color: #dc3545;
            /* Màu đỏ */
        }

        p {
            color: #6c757d;
            /* Màu xám */
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Lỗi</h1>
        <p>{{message}}</p>
    </div>
</body>

</html>